main {

    width: 800px;
    height: 600px;
    background-color: rgba(220, 20, 60, 0.876);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 50px black;
    color: white;
    text-shadow: 5px 5px 10px black;
    border-radius: 50px;
}

body {
    font-family: Fira Code;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(/2.jpg);
}

button {

    height: 50px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    border: 2px solid rgba(220, 20, 60, 0.876);
    padding: 10px;

}

h2 {

    font-size: 50px;
    width: 65%;
    text-align: center;
}